/*
    Annalist site CSS definitions

    __author__      = "Graham Klyne (GK@ACM.ORG)"
    __copyright__   = "Copyright 2014, 2015 G. Klyne"
    __license__     = "MIT (http://opensource.org/licenses/MIT)"

 */


/*  ------------------------------------------------------------------------- 

    General layout

    ------------------------------------------------------------------------- */

body 
{
    margin:         0;
}

body > div 
body > div.row
{
    padding-left:   0.75rem;
    padding-right:  0.75rem;    
}

.top 
{
    vertical-align: top;
}

.middle 
{
    vertical-align: middle;
}

.bottom 
{
    vertical-align: bottom;
}

/*
div.row .row {
    margin: 0 0;
    padding: 0 0;
}
*/

div.row
{   /* Outermost row padding */
    margin:  0 0rem;
    padding: 0 0.5rem;
}

div.row .columns ,
div.row .column 
{   /* Outermost column padding */
    margin:  0 0rem;
    padding: 0 0.5rem;
}

div.row .columns .row
{   /* Remove outermost column padding for row within column */
    /* NOTE: using padding to create space, but negative margins to reclaim */
    margin-left:  -0.5rem;
    margin-right: -0.5rem;
    padding-left:  0rem;
    padding-right: 0rem;
}

form div.row .column  .row .column  ,
form div.row .columns .row .columns ,
form div.row .column  .row .column  .row .column ,
form div.row .columns .row .columns .row .columns
{   /* padding left and right around inner columns */
    margin-left:   0rem;
    margin-right:  0rem;
    padding-left:  0.5rem;
    padding-right: 0.5rem;
}

form div.row .column  .row .column  .row ,
form div.row .columns .row .columns .row
{
    margin-left:  -0.5rem;
    margin-right: -0.5rem;
    padding-left:  0rem;
    padding-right: 0rem;
}

/*  ------------------------------------------------------------------------- 

    Headings

    ------------------------------------------------------------------------- */

h2.page-heading {
    margin-top:     0.2rem;
    margin-bottom:  0;
    padding:        0 0.9375rem;
    font-size:      1.625rem;
    color:          #666666;
}

h2.page-heading > a.permalink {
    vertical-align: 0.1rem;
    padding-left:   0.5rem;
    font-size:      1rem;
    color:          #008cba; /* copied from Foundation <a> colour */
}

p.djangolinks 
{
    font-size: small;
    color: #666666;
}

div.alert-box p {
    margin-bottom: 0.25rem;
}

div.row.headings 
{
    padding-bottom: 0.5rem;
    font-weight: bold;
}

/*
div.column  > p , 
div.columns > p 
{
    margin: 0.25rem 0 0 0;
    padding: 0.25rem 0;
    height: auto;
}
*/

div.row div.column  p.caption , 
div.row div.columns p.caption
{
    margin-top:  0.25rem;
    margin-left: 0.25rem;
    /*padding: 0.25rem 0;*/
    height: auto;
    font-weight: bold;
}

/*  ------------------------------------------------------------------------- 

    Message formatting options

    ------------------------------------------------------------------------- */

.error {
    color: red;
}

.alert {
    color: green;
    font-size: large;
    vertical-align: middle;
}

.instruction {
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    font-style: italic;
}


/*  ------------------------------------------------------------------------- 

    Server log formatting options

    ------------------------------------------------------------------------- */

div.serverlog_disabled
{
    overflow:         scroll;
    height:           46rem;
    background-color: #fceaff;
    /* border:           1px solid #ecdcfc; */
    border:           1px solid #f4e4f8;
    padding:          0.4rem 0.25rem 0.2rem 0.25rem;
    white-space:      pre;
    font-family:      Consolas,Monaco,Lucida Console,
                      Liberation Mono,DejaVu Sans Mono,
                      Bitstream Vera Sans Mono,Courier New, 
                      monospace;
    font-size:      0.875rem;
}

div.serverlog
{
    background-color: #fceaff;
    border:           1px solid #f4e4f8;
    padding:          0.4rem 0.25rem 0.2rem 0.25rem;
    white-space:      pre;
    font-family:      Consolas,Monaco,Lucida Console,
                      Liberation Mono,DejaVu Sans Mono,
                      Bitstream Vera Sans Mono,Courier New, 
                      monospace;
    font-size:      0.875rem;
}


/*  ------------------------------------------------------------------------- 

    Form value formatting options

    ------------------------------------------------------------------------- */

div.columns form , div.columns form 
{
    margin-bottom: 0;
}

div.row div.column.group-label  , 
div.row div.columns.group-label
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0.25rem;
    padding-bottom: 0.15rem;
    font-size:      0.875rem;   /* To align with view-label, view-value */
    /* height: auto; */
    /* font-size: 0.75rem; */
    /* color: #666666; */
}

div.column.group-label  > span ,
div.columns.group-label > span
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    font-size: 0.75rem;
    color: #666666;
    height: 1.4rem;
}

div.row div.column.group-placeholder , 
div.row div.columns.group-placeholder
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0.25rem;
    padding-bottom: 0.15rem;
    font-size:      0.875rem;   /* To align with view-label, view-value */
    /* height: auto; */
    /* font-size: 0.75rem; */
    /* font-style: italic; */
    /* color: #989898; */
    /* color: #666666; */
}

div.column.group-placeholder  > span ,
div.columns.group-placeholder > span
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    font-size:      0.75rem;
    font-style:     italic;
    color:          #AA6688;
    height:         1.4rem;
}

div.row div.column.col-head.view-label ,
div.row div.columns.col-head.view-label
{
    padding-top:    0.25rem;
    padding-bottom: 0.15rem;
    background-color: #f0f0f8;
    font-size:      0.875rem;   /* To align with view-label, view-value */
    /* height: 1.4rem; */
}

div.column.col-head.view-label  > span ,
div.columns.col-head.view-label > span
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    font-size:      0.75rem;
    color:          #666666;
    height:         1.4rem;
}

/* Suppress padding and reduce height for nested column headings */
div.column.col-head.view-label  div.row div.column.col-head.view-label ,
div.columns.col-head.view-label div.row div.columns.col-head.view-label
{
    padding-top: 0rem;
    height: 1.0rem;
}

div.group-row.even div.small-10.columns, 
div.group-row:nth-of-type(even) div.small-10.columns
{   /* Background shading for even rows in list; first row is zeroth? */
    background-color: white;
}

div.group-row.odd div.small-10.columns, 
div.group-row:nth-of-type(odd) div.small-10.columns
{   /* Background shading for odd rows in list */
    background-color: #F0F0F8;
}

div.row div.columns div.row div.columns.group-buttons ,
div.row div.column  div.row div.column.group-buttons
{
    margin-top: 0.25rem;
}

div.row div.columns div.row.view-value-row
{
    margin-top:     0.25rem;
    margin-bottom:  0rem;
}

div.row div.column.view-label,
div.row div.columns.view-label
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0.25rem;
    padding-bottom: 0.15rem;
    font-size:      0.875rem;   /* To align with view-value */
    /* font-size: 0.75rem; */
    /* color: #666666; */
    /* height: 1rem; */
}

div.row.view-grouprow > div.column  > div.row.view-value-row > div.column.view-label ,
div.row.view-grouprow > div.columns > div.row.view-value-row > div.columns.view-label
{   /* Referenced fields within field */
    padding-top:    0rem;
}

div.column.view-label  > span ,
div.columns.view-label > span
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    font-size: 0.75rem;
    color: #666666;
    height: 1.4rem;
}

/* Padding for displayed values */
div.row > div.column.view-value,
div.row > div.columns.view-value
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0.25rem;
    padding-bottom: 0.15rem;
    font-size:      0.875rem;
    color:          #444444;
    /* vertical-align: middle; */
}

/* Word-wrap for link fields */
div.row > div.column.view-value  > a,
div.row > div.columns.view-value > a
{
    word-wrap: break-word;
}



/* Suppress padding for nested column values */
div.row > div.column.view-value  div.row > div.column.view-value,
div.row > div.columns.view-value div.row > div.columns.view-value
{
    padding-top:    0rem;
    padding-bottom: 0rem;
}

/* Set height for edit padding to force next field to next row */
div.row div.column.view-value > div.edit-padding ,
div.row div.columns.view-value > div.edit-padding
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    height:         1.4rem;
}

/* Suppress margin for nested value rows */
div.row.view-value-row div.row div.row.view-value-row
{
    margin-top:     0rem;
}

/* Suppress padding for nested column labels */
div.column.view-value  > div.row > div.column.view-label,
div.columns.view-value > div.row > div.columns.view-label
{
    padding-top:    0rem;
    padding-bottom: 0rem;
}

/* Suppress padding for nested column values */
div.column.view-value  > div.row > div.column.view-value,
div.columns.view-value > div.row > div.columns.view-value
{
    padding-top:    0rem;
    padding-bottom: 0rem;
}


/* No additional padding for subfields in value */
div.row div.column.view-value.view-subfield,
div.row div.columns.view-value.view-subfield
{
    padding-top: 0rem;
    padding-bottom: 0rem;
}

/* Vertical spacing for rows in a grouprow edit display */
div.row.edit-grouprow
{
    margin-top:    0.2rem;
    margin-bottom: 0.2rem;
}

/* Nested value in group */
div.row.edit-grouprow div.columns div.row.view-value-col div.columns.view-value ,
div.row.edit-grouprow div.column  div.row.view-value-col div.column.view-value
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
}

/* Vertical spacing for rows in a grouprow view display */

div.row.view-grouprow
{
    margin-top:    0rem;
    margin-bottom: 0rem;
}

/* Input field formatting */

div.columns.view-value
{
    font-size: 0.875rem;
    height:    auto;
}

div.columns.view-value > input[type="input"] , 
div.columns.view-value > input[type="textarea"] , 
div.columns.view-value > input[type="text"] , 
div.columns.view-value > input[type="password"] , 
div.columns.view-value > textarea , 
div.columns.view-value > select ,
div.columns.view-value > div.row > div.columns > select
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    height:         1.4rem;
    /* border: 0; - causes buttons to display differently - WTF? */
}

div.columns.view-value > input[type="checkbox"] ,
div.columns.view-value > span > input[type="checkbox"]
{
    margin-top:    0.2rem;
    margin-bottom: 0.2rem;
    margin-right:  0.2rem;
    height:        1rem;
}

div.columns.view-value > audio
{
    margin-top:    0.2rem ;
    margin-bottom: 0.2rem;
}

div.columns.view-value > span
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    font-size:      0.875rem;
}

div.columns.view-value > span.checkbox
{   /* Wrapper for checkbox and label text */
    white-space: nowrap;
}

div.columns.view-value > span.value-placeholder
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    font-size:      0.75rem;
    font-style:     italic;
    color:          #AA6688;
    height:         1.4rem;
}

div.columns.view-value > span.value-missing ,
div.columns.view-value > span.value-blank
{
    margin-top:     0rem;
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    font-size:      0.75rem;
    font-style:     italic;
    color:          #AA6688;
    height:         1.4rem;
}

div.row div.column.checkbox-in-edit-padding ,
div.row div.columns.checkbox-in-edit-padding
{
    padding-top:    0.25rem;
    padding-bottom: 0rem;
}

div.columns.checkbox-in-edit-padding > input[type="checkbox"]
{   /* Hack to get checkboxes to align sensibly in row of field group */
    margin-top:    0.25rem ;
    margin-bottom: 0rem;
}

div.columns input[type="checkbox"]
{
    margin-top:    0.25rem ;  /* Override values from foundation.css */
    margin-bottom: 0rem ;
}

div.columns > input[type=submit] 
{
    margin-top:    0.25rem ;
    /* 
    Padding doesn't work here, margin isn't needed as input seems to carry its own:
    margin-left:   0.5rem;
    margin-right:  0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    */
}

div.row.form-buttons
{
    margin-top:         0.25rem ;
    margin-bottom:      0rem ;    
}

div.row.form-buttons div.columns.view-label
{
    margin-top:         0rem ;
    margin-bottom:      0rem ;
    padding-top:        0.25rem;
    padding-left:       0.5rem;
    padding-right:      0.5rem;
    font-size:          0.75rem;
}

div.row.form-buttons div.columns > button 
{
    margin-top:         0rem ;
    margin-bottom:      0rem ;
    padding:            0;
    /*
    border-style:       revert;
    border-width:       revert;
    border:             revert;
    */
    /* height:             1.4rem; */
    /*
    height:             auto;
    font-size:          0.75rem;
    color:              #AA6688;
    border-color:       #DDDDDD;
    background-color:   #DDDDDD;
    */
}

div.row.form-buttons div.columns > button.login-button
{
    height:             26px;
}

div.row.form-buttons div.columns > button.image-button
{
    border-style:       none;
    border-width:       0;
    background-color:   transparent;
}

div.columns > select[size] ,
div.columns > textarea[rows]
{
    height: auto;
}

/* Markdown field text styling */

div.columns.view-value > span.markdown h1 ,
div.columns.view-value > span.markdown h2 ,
div.columns.view-value > span.markdown h3 ,
div.columns.view-value > span.markdown h4 ,
div.columns.view-value > span.markdown li ,
div.columns.view-value > span.markdown p
{
    margin-bottom:  0rem;
    padding-top:    0rem;
    padding-bottom: 0rem;
    line-height:    1rem;
}

div.columns.view-value > span.markdown ul ,
div.columns.view-value > span.markdown ol
{
    margin-top:     0rem;
    margin-bottom:  0.4rem;
}

div.columns.view-value > span.markdown > p:first-child ,
div.columns.view-value > span.markdown > h1:first-child ,
div.columns.view-value > span.markdown > h2:first-child ,
div.columns.view-value > span.markdown > h3:first-child ,
div.columns.view-value > span.markdown > h4:first-child
{
    margin-top:     0rem;
}

div.columns.view-value > span.markdown h1
{
    margin-top:     0.6rem;
}

div.columns.view-value > span.markdown h2
{
    margin-top:     0.5rem;
}

div.columns.view-value > span.markdown p ,
div.columns.view-value > span.markdown pre ,
div.columns.view-value > span.markdown li ,
div.columns.view-value > span.markdown h3 ,
div.columns.view-value > span.markdown h4
{
    margin-top:     0.35rem;
}

div.columns.view-value > span.markdown p ,
div.columns.view-value > span.markdown li
{
    font-size: 0.875rem;
    font-weight: normal;
}

div.columns.view-value > span.markdown h1
{
    font-size:   1rem;
    font-weight: bold;
    line-height: 1.2rem;
}

div.columns.view-value > span.markdown h2
{
    font-size:   1rem;
    font-weight: normal;
    font-style:  italic;
    line-height: 1.2rem;
}

div.columns.view-value > span.markdown h3
{
    font-size:   0.875rem;
    font-weight: bold;
}

div.columns.view-value > span.markdown h4
{
    font-size:   0.875rem;
    font-weight: normal;
    font-style:  italic;
}

/* Markdown field table styling */

div.columns.view-value > span.markdown table
{   /* Spacing around table */
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border:0;
    /* border-collapse: collapse;  / * Prevents gap before checkbox in table column */
}

div.columns.view-value > span.markdown > table > thead ,
div.columns.view-value > span.markdown > table > tfoot 
{   /* Background colour for header/footer in list */
    background: whitesmoke;
}

/* Presentation of table headers - first two entries catch extra layering for selectable row checkboxes */
div.columns.view-value > span.markdown > table > thead > tr > th ,
div.columns.view-value > span.markdown > table > tfoot > tr > th 
{   /* Table headings and footers text styling */
    text-align: left;
    /* font-weight: bolder; */
    font-weight: normal;
    font-size: 0.875rem;
    display: table-cell;
    color: #222222;  /* 222222 */
}

div.columns.view-value > span.markdown > table > tbody > tr > td
{   /* Text size and styling for row content */
    font-size: 0.875rem;
} 

div.columns.view-value > span.markdown > table
{
    margin-left:    -0.5rem;
    margin-right:   -0.5rem;
} 

div.columns.view-value > span.markdown > table > thead ,
div.columns.view-value > span.markdown > table > tfoot ,
div.columns.view-value > span.markdown > table > tbody
{   /* Row spacing for entries in table */
    padding-top:    0.1rem;
    padding-bottom: 0.1rem;
    height: auto;
} 

div.columns.view-value > span.markdown > table > thead > tr ,
div.columns.view-value > span.markdown > table > tfoot > tr ,
div.columns.view-value > span.markdown > table > tbody > tr
{   /* Row spacing for entries in table */
    padding-top:    0.1rem;
    padding-bottom: 0.1rem;
    height: auto;
} 

div.columns.view-value > span.markdown > table tr > th ,
div.columns.view-value > span.markdown > table tr > td
{   /* Cell spacing for entries in table */
    padding-top:    0rem;
    padding-bottom: 0rem;
    padding-left:   0.5rem;
    padding-right:  0.5rem;
} 

div.columns.view-value > span.markdown > table > tbody > tr.odd , 
div.columns.view-value > span.markdown > table > tbody > tr:nth-of-type(odd)
{   /* Background shading for odd rows in list; first row is #1 (odd) */
    background: white;
}

div.columns.view-value > span.markdown > table > tbody > tr.even , 
div.columns.view-value > span.markdown > table > tbody > tr:nth-of-type(even)
{   /* Background shading for even rows in list */
    background: #F8F8F8;
}


/* Code area field text styling */
/* See: http://stackoverflow.com/questions/2032652/ */

div.columns.view-value > div.codearea
{
    background-color: #fceaff;
    /* border:           1px solid #ecdcfc; */
    border:           1px solid #f4e4f8;
    padding:          0.4rem 0.25rem 0.2rem 0.25rem;
    white-space:      pre;
    font-family:      Consolas,Monaco,Lucida Console,
                      Liberation Mono,DejaVu Sans Mono,
                      Bitstream Vera Sans Mono,Courier New, 
                      monospace;
}

/*
div.columns > input[type=text] , 
div.columns > textarea , 
div.columns > select {
*/
    /* @@TODO This to maintain some space between input fields, esp. columns on
    /*        customize page - is there a better way? */ 
    /*        I tried margins and padding to no avail */
    /*        It appears Foundation applies a witdh:100% to these elements */
    /* width: 95%; */
    /* padding-right: 1rem; */
/*
} 
*/

/* Spacing for buttons below form */

div.row div.column  div.row div.column.form-buttons ,
div.row div.columns div.row div.columns.form-buttons
{
    margin-top:  0.75rem;   
}

/* Select elements: special for field placement */

span.placement-text ,
select.placement-text ,
option.placement-text
{
    font-family:"Lucida Console", monospace;
}

/* Buttons, and special styling for enum_new button */

div.row div.new-button button
{   /* Override Foundation styling */
    display: inline-block;
    position: relative;
    /* background-color: #F0F0F0; */
    border-color: #A0A0A0;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.375rem;
    color: #000000;
    cursor: default;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0;
    margin-right: 0.75rem;
    padding-top: 0px;
    padding-bottom: 0;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    /* Gradient generated by:
       http://www.colorzilla.com/gradient-editor/#ffffff+0,c9c9c9+100,f9f9f9+100;Custom 
     */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #c9c9c9 100%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c9c9c9), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#c9c9c9 100%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(top,  #ffffff 0%,#c9c9c9 100%,#f9f9f9 100%); /* Opera 11.10+ */
    /* background: -ms-linear-gradient(top,  #ffffff 0%,#c9c9c9 100%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#c9c9c9 100%,#f9f9f9 100%); /* W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

div.row div.new-button button span.select-edit-button-text
{
    font-size: 160%;
    line-height: 0.5;
}


/*  ------------------------------------------------------------------------- 

    Table layout used for lists of entities

    ------------------------------------------------------------------------- */


div.row.table
{   /* Spacing around list of entities */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border:0;
    /* border-collapse: collapse;  / * Prevents gap before checkbox in table column */
}

div.row.table div.row.thead ,
div.row.table div.row.tfoot 
{   /* Background colour for header/footer in list */
    background: whitesmoke;
}

/* Presentation of table headers - first two entries catch extra layering for selectable row checkboxes */
div.row.table > .columns > div.row.thead > .columns > .row > .columns.view-label ,
div.row.table > .columns > div.row.tfoot > .columns > .row > .columns.view-label
/*
div.row.table > .columns > div.row.thead > .columns.view-label ,
div.row.table > .columns > div.row.tfoot > .columns.view-label 
*/
{   /* List headings (and footers?) text styling and psacing */
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.625rem; */
    text-align: left;
    font-weight: bold;
    font-size: 0.875rem;
    display: table-cell;
    color: #222222;  /* 222222 */
}

div.row.tbody
{   /* Row spacing for entries in list */
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    height: auto;
} 

div.row.table div.tbody.even , 
div.row.table div.tbody:nth-of-type(even)
{   /* Background shading for even rows in list; first row is zeroth? */
    background: white;
}

div.row.table div.tbody.odd , 
div.row.table div.tbody:nth-of-type(odd)
{   /* Background shading for odd rows in list */
    background: #F8F8F8;
}

div.row.table div.tbody div.columns
{   /* Text size and styling for row content */
    font-size: 0.875rem;
} 

/*  ------------------------------------------------------------------------- 

    Help panel content formatting

    ------------------------------------------------------------------------- */

div.help {
    /* display:        block; */
    margin-top:     -0.5rem;
    padding-left:   0.5rem;
    padding-right:  0.5rem;
}

div.help h1 {
    margin-top:     1rem;
    border-top:     medium solid #CCCCCC;
    padding-top:    0.75rem;
    padding-left:   0rem;    
    padding-right:  0rem;    
    color:          #666666;
    font-size:      1.25rem;
}

div.help h2 {
    padding-top:    0.75rem;
    padding-left:   0rem;    
    padding-right:  0rem;    
    color:          #666666;
    font-size:      1.125rem;
}

div.help h3 {
    padding-top:    0.5rem;
    padding-left:   0rem;    
    padding-right:  0rem;    
    color:          #666666;
    font-size:      1rem;
}

div.help h4 {
    padding-top:    0.5rem;
    padding-left:   0rem;    
    padding-right:  0rem;    
    color:          #666666;
    font-size:      1rem;
    font-style:     italic;
}

div.help p {
    margin: 0rem;
    padding-top:    0.4rem;    
    padding-bottom: 0rem;    
    padding-left:   0rem;
    padding-right:  0rem;
    color:          #666666;
    font-size:      smaller;
    line-height:    1.5;
}

/* NOTE: with "list-style-position: outside", 
   use margin, not padding, to indent the bullet *and* item text
 */
div.help li {
    margin-top:     0.25rem;
    margin-bottom:  0rem;    
    margin-left:    1.5rem;
    margin-right:   0rem;
    color:          #666666;
    font-size:      smaller;
    line-height:    1.25;
}

/* Nexted lists: reduce margin indent; */
div.help li li {
    margin-left:    0rem;
}

div.help ul,
div.help ol {
    list-style-position: outside;
    margin-left:    0rem;
    padding-top:    0rem;    
    padding-bottom: 0rem;    
    padding-left:   0rem;
    color:          #666666;
    line-height:    1.25;
}

/*  ------------------------------------------------------------------------- 

    Top and bottom navigation, adapted from ZURB Foundation examples

    ------------------------------------------------------------------------- */

/* Top bar */

.top-bar {
    margin-bottom: 0.75rem;
    vertical-align: text-bottom;
}
nav.top-bar                  ul li.name h1 ,
nav.top-bar                  ul li      h1 {
    /* Foundation CSS sets line-height for top bar to 45px.         */
    /* Reducing line height allows the <h1> baseline to be raised   */
    /* to match other menu items.                                   */
    /* line-height:    43px; */
    line-height:       2.7rem;
    padding-bottom: 0px;
}

/*
nav.top-bar                  ul li a ,
nav.top-bar .top-bar-section ul li a ,
nav.top-bar .top-bar-section ul li:not(.has-form) a:not(.button) {
    vertical-align: inherit;
}
*/

/* Footer bar.  Adapted from Foundation / ZURB examples */

.footer-bar {
    margin-top: 0.75rem;
    background: #333333;  
    padding: 0.75rem 0; }

.footer-bar a.logo {
    display: inline-block;
    padding: 0 1rem 0 0;
    font-size: 0.875rem;
    font-weight: normal;
    vertical-align: bottom;
    color: #858585;
    }

.footer-bar ul.links {
  margin: 0;
  display: inline-block; }

  .footer-bar ul.links li {
    display: block;
    float: left; /* Remove this and items display vertically */
    margin-right: 1.25rem;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 0.75rem; }

  .footer-bar a {
    color: #777777; }
    .footer-bar a:hover {
      color: #A0A0A0; }

  .footer-bar p.copyright {
    margin: 0 0;
    font-size: 0.65rem;
    color: #777777; 
    }

/* End */
