/*
    Annalist site CSS definitions

    __author__      = "Graham Klyne (GK@ACM.ORG)"
    __copyright__   = "Copyright 2014, G. Klyne"
    __license__     = "MIT (http://opensource.org/licenses/MIT)"

 */


body {
    margin:         0;
}

body > div {
    padding-left:   0.9375rem;
    padding-right:  0.9375rem;    
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

p.djangolinks {
    font-size: small;
    color: #666666;
}

/*
div.row .row {
    margin: 0 0;
    padding: 0 0;
}
*/

div.row .columns ,
div.row .column 
{   /* Outermost column padding */
    padding: 0 0.75rem;
}

div.row .columns .row
{   /* Remove outermost column padding for row within column */
    padding: 0 -0.75rem;
}

div.row .columns .row .columns
{   /* padding left and right around inner columns */
    margin: 0 0;
    padding: 0 0.5rem;  /* was 0.75 */
}

div.row.headings {
    padding-bottom: 0.5rem;
    font-weight: bold;
}

div.column > p , div.columns > p 
{
    margin: 0.25rem 0 0 0;
    /*padding: 0.25rem 0;*/
    height: auto;
}

div.view_label p {
    margin: 0.5rem 0 0 0;
    font-size: small;
    color: #666666;
}

div.row div.column p.caption , div.row div.columns p.caption
{
    margin-top:  0.25rem;
    margin-left: 0.25rem;
    /*padding: 0.25rem 0;*/
    height: auto;
    font-weight: bold;
}

div.row div.column p.grouplabel , div.row div.columns p.grouplabel
{
    margin-top:  0.25rem;
    margin-left: 0.25rem;
    height: auto;
    font-size: small;
    color: #666666;
}

div.help > h1 {
    margin-top: 1rem;
    border-top: medium solid #CCCCCC;
    padding-top: 0.75rem;
    padding-left: 0.75rem;    
    color: #666666;
    font-size: 1.25rem;
}

div.help > h2 {
    padding-top: 0.75rem;
    padding-left: 0.75rem;    
    color: #666666;
    font-size: 1.125rem;
}

div.help > h3 {
    padding-top: 0.5rem;
    padding-left: 0.75rem;    
    color: #666666;
    font-size: 1rem;
}

div.help > p {
    margin: 0rem;
    padding-top: 0.25rem;    
    padding-bottom: 0.25rem;    
    padding-left: 0.75rem;    
    color: #666666;
    font-size: smaller;
}

div.help li {
    margin: 0rem;
    padding-top: 0.25rem;    
    padding-bottom: 0rem;    
    padding-left: 0.75rem;    
    color: #666666;
    font-size: smaller;
}

/*
div.column p , div.columns p {
    margin-bottom: 0;
}
*/

/* Headings */

h2.page-heading {
    padding: 0 0.9375rem;
}

div.alert-box p {
    margin-bottom: 0.25rem;
}

/* Form elements */

div.columns form , div.columns form {
    margin-bottom: 0;
}

div.columns > input , 
div.columns > textarea , 
div.columns > select
{
    margin: 0.25rem 0 ;
    padding: 0.25rem 0 ;
    height: auto;
    /* border: 0; - causes buttons to display differently - WTF? */
}

div.columns input[type="checkbox"]
{
    margin-top: 0rem ;
    /* vertical-align: middle;  -- tried this, doesn't work across 'div's */
}

div.columns.checkbox_in_edit_padding input[type="checkbox"]
{   /* Hack to get checkboxes to align sensibly in row of field group */
    margin-top: 0.75rem ;
}

/*
div.columns > input[type=text] , 
div.columns > textarea , 
*/
div.columns > select {
    /* @@TODO This to maintain some space between input fields, esp. columns on
    /*        customize page - is there a better way? */ 
    /*        I tried margins and padding to no avail */
    /*        It appears Foundation applies a witdh:100% to these elements */
    /* width: 95%; */
    /* padding-right: 1rem; */
}

div.columns > input[type=submit] {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Table layout used for lists of entities */

div.row.table
{   /* Spacing around list of entities */
    margin-top: 1rem;
    margin-bottom: 1rem;
    border:0;
    /* border-collapse: collapse;  / * Prevents gap before checkbox in table column */
}

div.row.table div.row.thead ,
div.row.table div.row.tfoot 
{   /* Background colour for header/footer in list */
    background: whitesmoke;
}

div.row.table div.row.thead .columns .row .columns ,
div.row.table div.row.tfoot .columns .row .columns 
{   /* List headings (and footers?) text styling and psacing */
    padding-top: 0.5rem;
    padding-bottom: 0.625rem;
    text-align: left;
    font-weight: bold;
    font-size: 0.875rem;
    display: table-cell;
    color: #222;  /* 222222 */
}

div.row.table div.trow
{   /* Row spacing for entries in list */
    padding-top: 0.25rem;
    padding-bottom: 0.1rem;
} 

div.row.table div.trow.even , 
div.row.table div.trow:nth-of-type(even)
{   /* Background shading for even rows in list; first row is zeroth? */
    background: white;
}

div.row.table div.trow.odd , 
div.row.table div.trow:nth-of-type(odd)
{   /* Background shading for odd rows in list */
    background: #F8F8F8;
}

div.row.table div.trow div.columns
{   /* Text size and styling for row content */
    font-size: 0.875rem;
} 

/*
div.row .columns ,
div.row .column
{
    height: 100%;
    vertical-align: middle;
}
*/

/* Messages */

.error {
    color: red;
}

.alert {
    color: green;
    font-size: large;
    vertical-align: middle;
}

.instruction {
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    font-style: italic;
}

/* Top bar */

.top-bar {
    margin-bottom: 0.75rem;
}

/* Footer bar.  Adapted from Foundation / ZURB examples */

.footer-bar {
    margin-top: 0.75rem;
    background: #333333;  
    padding: 0.75rem 0; }

.footer-bar a.logo {
    display: inline-block;
    padding: 0 1rem 0 0;
    font-size: 0.875rem;
    font-weight: normal;
    vertical-align: bottom;
    color: #858585;
    }

.footer-bar ul.links {
  margin: 0;
  display: inline-block; }

  .footer-bar ul.links li {
    display: block;
    float: left; /* Remove this and items display vertically */
    margin-right: 1.25rem;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 0.75rem; }

  .footer-bar a {
    color: #777777; }
    .footer-bar a:hover {
      color: #A0A0A0; }

  .footer-bar p.copyright {
    margin: 0 0;
    font-size: 0.65rem;
    color: #777777; 
    }


