[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"beautifulsoup4" = "*"
httpretty = "*"

[packages]
django = "~=1.7.0"
wsgiref = "*"
"oauth2client" = "==1.2"
"httplib2" = "*"
pyparsing = "~=2.0.2"
markdown = "~=2.5.2"
rdflib = "~=4.2.1"
rdflib-jsonld = "~=0.4.0"

[requires]
python_version = "2.7"
