<!-- field/annalist_edit_select.html -->
<!-- name:    {{field.field_name}}   -->
<!-- value:   {{field.field_value}}  -->
<!-- options: {{field.options}}      -->
<!-- see also: http://stackoverflow.com/questions/5805059/ -->
<div class="row">
  <div class="small-10 columns less_new_button">
    <select name="{{repeat_prefix}}{{field.field_name}}">
      {% for v in field.options %}
        {% if v == field.field_value %}
          {% if v == "" %}
          <option value="" selected="selected">{{field.field_placeholder}}</option>
          {% else %}
          <option selected="selected">{{v}}</option>
          {% endif %}
        {% else %}
          {% if v == "" %}
          <option value="">{{field.field_placeholder}}</option>
          {% else %}
          <option>{{v}}</option>
          {% endif %}
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="small-2 columns new_button left small-text-right">
    <button type="submit" 
            name="{{repeat_prefix}}{{field.field_name}}__new" 
            value="New"
            title="Define new {{field.field_label}}"
    >
      +
    </button>
  </div>
</div>