<!-- field/annalist_edit_view_choice.html -->
<div class="row">
  <div class="small-9 columns">
    <select name="{{repeat_prefix}}{{field.field_name}}">
      {% for v in field.options %}
        {% if v == field.field_value %}
        <option selected="selected">{{v}}</option>
        {% else %}
        <option>{{v}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="small-3 columns">
    <input type="submit" name="use_view" value="Show view" />
  </div>
</div>