/*
    Annalist site CSS definitions

    __author__      = "Graham Klyne (GK@ACM.ORG)"
    __copyright__   = "Copyright 2014, G. Klyne"
    __license__     = "MIT (http://opensource.org/licenses/MIT)"

 */


body {
    margin:         0px;
}

body > div {
    padding-left:   5px;
    padding-right:  5px;    
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

div.row.headings {
    padding-bottom: 6px;
    font-weight: bold;
}

div.columns > input {
    margin: 3px 0;
    padding: 3px 0;
}

h2.page-heading {
    padding: 0 15px;
}

/* 

.menu-top {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:  medium;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    background-color: #E0F5FF;
    padding-left:   5px;
    padding-right:  5px;    
}

.menu-left {
    position:   relative;
    left:       0px;
    top:        0px;
}

.menu-right {
    float:      right;
    / *
    position:   relative;
    right:      0px;
    top:        0px;
    * /
}

.heading {
    font-family: Verdana, Geneva, sans-serif;
    font-size:  x-large;
}

.footer {
    font-family: Verdana, Geneva, sans-serif;
    font-size:  small;    
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background-color: #E0F5FF;
}

*/

/*

.content-head {
    font-family: Verdana, Geneva, sans-serif;
    font-size:   large;
}

.content-body {
    font-family: Georgia, serif;
    font-size:  medium;
}

form, form table {
    background-color: #F0F0FF;
}

form table {
    margin:         8px;
    border-style:   none;
    border-width:   1px;    
}

table {
    margin:         8px;
    border-style:   solid;
    border-width:   1px;
    border-color:   #D8D8D8;
    / * background-color: #E0FFE0; * /
}

td {
    / *
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: medium;  
    * /
    font-family: Georgia, serif;
    font-size:  medium;
    padding:    0.2em;
}

th {
    font-family: Georgia, serif;
    font-size:  medium;
    padding:    0.2em;
    text-align: left;
    font-weight: bold;
}

*/

.error {
    color: red;
}

.alert {
    color: green;
    font-size: large;
    vertical-align: middle;
}

.instruction {
    padding-top: 0.5em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    font-style: italic;
}

/*

.info-head {
    font-family: Verdana, Geneva, sans-serif;
    font-size: x-large;
    color: green;
}

.info-message {
    font-family: Georgia, serif;
    font-size: medium;
    color: green;
}

.error-head {
    font-family: Verdana, Geneva, sans-serif;
    font-size: x-large;
    color: red;
}

.error-message {
    font-family: Georgia, serif;
    font-size: medium;
    color: red;
}

*/

/* Derived from Foundation / ZURB examples */

.footer-bar {
  background: #333333;
  padding: 9px 0 9px; }

.footer-bar a.logo {
  color: #858585;
  font-weight: normal;
  padding: 0px 12px 0px 0;
  font-size: 0.88889rem;
  display: inline-block;
  vertical-align: bottom;
  }

.footer-bar ul.links {
  margin: 0;
  display: inline-block; }

  .footer-bar ul.links li {
    display: block;
    float: left;
    margin-right: 6px;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 0.77778rem; }

    .footer-bar ul.links li a {
      color: #666666;
      padding: 3px 12px 3px 0; }

      .footer-bar ul.links li a:hover {
        color: #777777; }

  .footer-bar p.copyright {
    margin: 0 0;
    font-size: 0.66667rem;
    color: #666666; 
    }

    .footer-bar p.copyright a {
      color: #666666; }

      .footer-bar p.copyright a:hover {
        color: #777777; }


