{
  "web": {
     "provider": "GitHub",
    "mechanism": "OIDC",
    "provider_label": "GitHub",
    "provider_image": "images/Login_GitHub.svg",
    "provider_order": 2,
    "default": "GitHub",
    "scope": [ "user:email" ],
    "client_id": "@@@@",
    "client_secret": "@@@@",
    "redirect_uris": [ "http://@@@@/annalist/login_done/" ],
    "auth_uri": "https://github.com/login/oauth/authorize",
    "token_uri": "https://github.com/login/oauth/access_token",
    "profile_uri": "https://api.github.com/user"
  }
}
