{
  "web": {
    "provider": "Google",
    "mechanism": "OIDC",
    "provider_label": "Google",
    "provider_image": "images/Login_Google.png",
    "provider_order": 1,
    "default": "Google",
    "scope": "openid profile email"
    "client_id": "@@[[application client ID]]",
    "client_secret": "@@[[Application client secret]]",
    "redirect_uris": ["@@[[Site host]]/annalist/login_done/"],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token",
    "profile_uri": "https://www.googleapis.com/plus/v1/people/me/openIdConnect",
    "client_email": "67531415189@developer.gserviceaccount.com",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/67531415189@developer.gserviceaccount.com",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs"
  }
}
