{
  "web": {
    "provider": "Google",
    "mechanism": "OIDC",
    "provider_label": "Google",
    "provider_image": "images/Login_Google.png",
    "provider_order": 1,
    "default": "Google",
    "scope": [
        "https://www.googleapis.com/auth/userinfo.profile", 
        "https://www.googleapis.com/auth/userinfo.email"
    ],
    "client_id": "XXXXXX.apps.googleusercontent.com",
    "client_secret": "[[XXXXXX secret code here]]",
    "redirect_uris": [
        "https://@@[[Site host]]/annalist/login_done/",
        "http://localhost:8000/annalist/login_done/"
    ],
    "auth_uri": "https://accounts.google.com/o/oauth2/v2/auth",
    "token_uri": "https://www.googleapis.com/oauth2/v4/token",
    "profile_uri": "https://www.googleapis.com/oauth2/v1/userinfo",
    "client_email": "XXXXXX@developer.gserviceaccount.com",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/XXXXXX@developer.gserviceaccount.com",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs"
  }
}
