{
  "web": {
    "provider": "PayPal",
    "client_id": "@@[[application client ID]]",
    "client_secret": "@@[[Application client secret]]",
    "redirect_uris": ["https://localhost:8000/annalist/login_done/"],
    "auth_uri": "https://www.paypal.com/webapps/auth/protocol/openidconnect/v1/authorize",
    "token_uri": "https://www.paypal.com/webapps/auth/protocol/openidconnect/v1/tokenservice",
    "profile_uri": "https://www.paypal.com/webapps/auth/protocol/openidconnect/v1/userinfo",
    "logout_uri": "https://www.paypal.com/webapps/auth/protocol/openidconnect/v1/endsession",
    "validate_uri": "https://www.paypal.com/webapps/auth/protocol/openidconnect/v1/checkid",
    "client_email": "annalist@ninebynine.org",
    "client_x509_cert_url": "...",
    "auth_provider_x509_cert_url": "..."
  }
}
