<html>

<head>
    <title>{% block title %}Annalist linked data journal{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/annalist.css' %}">
</head>

<body>

{% block topmenu %}
    <div>
        <a href="{% url 'AnnalistSiteView' %}">Home</a>
        <a href="{% url 'AnnalistProfileView' %}">Profile</a>
    </div>
{% endblock %}

<h1>{% block heading %}Annalist linked data journal{% endblock %}</h1>

{% block content %}
    <h2>Content heading</h2>
    <p>
      No content here
    </p>
{% endblock %}

<hr/>

<div class="footer">
    <a href="{% url 'LogoutUserView' %}">Logout</a>
</div>

</body>

</html>
