<html>

<head>
    <title>{% block title %}Annalist linked data journal{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/annalist.css' %}">
</head>

<body>

<div class="heading">
    {% block heading %}
        Annalist linked data journal
    {% endblock %}
</div>

{% block topmenu %}
    <div class="menu-top">
        <span class="menu-left">
            <a href="{% url 'AnnalistSiteView' %}">Home</a>
        </span>
        <span class="menu-right">
        {% if not suppress_user %}
            {% if user.is_authenticated %}
                <a href="{% url 'AnnalistProfileView' %}">Profile</a>
                <a href="{% url 'LogoutUserView' %}">Logout</a>
            {% else %}
                <a href="{% url 'AnnalistProfileView' %}">Login</a>
            {% endif %}
        {% endif %}
        </span>
    </div>
{% endblock %}

{% if error_message %}
    <hr/>
    <div class="error-head">
        {{error_head}}
    </div>
    <div class="error-message">
        {{error_message}}
    </div>
    <hr/>
{% endif %}

{% block content %}
    <div class="content-head">
        Content heading
    </div>
    <div class="content-body">
        Placeholder for content to be provided by selected view
    </div>
{% endblock %}

    <div class="footer">
    {% block footer %}
        Powered by <a href="https://github.com/gklyne/annalist">Annalist</a>    
    {% endblock %}
    </div>

</body>

</html>
