{% extends "base_generic.html" %}

{% block title %}Local login{% endblock %}

{% block heading %}Local login{% endblock %}

{% block content %}

<!--
{% if message %}
<div class="alert-box warning radius">
  <h3>Login failed</h3>
  <p>
    {{message}}
  </p>
</div>
{% endif %}
-->

<!--
<div class="row">
  <div class="large-12 columns">
    <h3>Enter login options</h3>
  </div>
</div>
-->

<div class="row">
  <div class="large-12 columns">
    <form method="POST" action="#">
      {% csrf_token %}

      <div class="view-fieldrow row">
        <div class="small-12 columns">
          <div class="row view-value-row"
               title="Enter a short Id by which you will be known in this system.">
            <div class="view-label small-12 medium-2 columns">
              <span>User ID</span>
            </div>
            <div class="view-value small-12 medium-4 columns">
              <input type="text" name="userid" value="{{userid}}" />
            </div>
            <div class="small-6 columns">
              &nbsp;
            </div>
          </div>
        </div>
      </div>

      <div class="view-fieldrow row">
        <div class="small-12 columns">
          <div class="row view-value-row"
               title="Select the login service you will use to authenticate yourself.">
            <div class="view-label small-12 medium-2 columns">
              <span>Password</span>
            </div>
            <div class="view-value small-12 medium-4 columns">
              <input type="password" name="password" />
            </div>
            <div class="small-6 columns">
              &nbsp;
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="medium-2 columns show-for-medium-up">
          <div class="row">
            <div class="small-12 columns">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 columns">
          <div class="row">
            <div class="form-buttons small-12 columns">
              <input type="submit" value="Login"  name="login" />
              <input type="submit" value="Cancel" name="cancel" />
            </div>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          &nbsp;
        </div>
      </div>

      <input type="hidden" name="user_profile_url"  value="{{user_profile_url}}"/>
      <input type="hidden" name="continuation_url"  value="{{continuation_url}}"/>
    </form>
  </div>
</div>

{% endblock %}
