{% extends "base_generic.html" %}

{% block title %}roverlay service{% endblock %}

{% block heading %}roverlay service{% endblock %}

{% block content %}
    <h2>roverlay service interface</h2>
    <p>
      <code>GET <a href="{% url 'RovServerHomeView' %}">{% url 'RovServerHomeView' %}</a></code> with header <code>Accept: text/uri-list</code> returns a list of currently-defined ROs.
    </p>
    <p>
      <code>POST <a href="{% url 'RovServerHomeView' %}">{% url 'RovServerHomeView' %}</a></code> with content-type <code>text/uri-list</code>   accepts a list of URIs, creates a new Overlay RO, and returns a "201 Created" response with a Location header giving the URI of the newly created RO.
    </p>
    <p>
      See also: <a href="https://github.com/wf4ever/ro-manager/blob/develop/src/roverlay/roverlay.md">ro-manager/src/roverlay/roverlay.md in GitHub</a>.
    </p>
    <p>ROs currently allocated:
      <ul>
      {% for rouri in rouris %}
      <li><a href="{{rouri}}">{{rouri}}</a></li>
      {% endfor %}
      </ul>
    </p>
{% endblock %}
